- activities.each do |activity|
  - activity_presenter = ActivityPresenter.new(activity, application_settings.imperial)
  %tr
    %td= link_to activity_presenter.started_at, activity_path(activity)
    %td= activity.sport
    %td
      %i{ class: "pull-left glyphicon glyphicon-arrow-#{activity_presenter.trend}" }
    %td= activity_presenter.total_distance
    %td= activity_presenter.elapsed_time
    %td= activity_presenter.total_calories
    %td= activity_presenter.average_speed
    %td= activity_presenter.average_pace
    %td= activity_presenter.total_elevation_gain
    %td= activity_presenter.total_elevation_loss
    %td= activity_presenter.max_elevation
    %td= activity_presenter.max_heart_rate
    %td= activity_presenter.average_heart_rate
