%tr
  %td= link_to 'Delete', activity_path(activity), method: 'delete', class: 'btn btn-mini btn-danger'
  %td= link_to activity.started_at.localtime.to_s(:long), activity_path(activity)
  %td= "#{number_with_precision(activity.get_total_distance, precision: 2)} miles"
  %td= activity.elapsed_time
  %td= "#{number_with_precision(activity.get_average_speed, precision: 2)} mph"
  %td= "#{number_with_precision(activity.get_average_pace, precision: 2)} min/mile"
  %td= "#{number_with_precision(activity.total_elevation_gain, precision: 2)} ft"
  %td= "#{number_with_precision(activity.total_elevation_loss, precision: 2)} ft"
  %td= "#{number_with_precision(activity.max_elevation, precision: 2)} ft"
  %td= "#{activity.max_heart_rate} bpm"
  %td= "#{activity.average_heart_rate} bpm"
