%table.table.table-striped
  %thead
    %tr
      %th{ colspan: 3 } Totals
      %th{ colspan: 2 } Speed
      %th{ colspan: 2 } Pace
      %th{ colspan: 2 } Cadence
      %th{ colspan: 4 } Elevation
      %th{ colspan: 3 } Heart Rate
    %tr
      %th Distance
      %th Time
      %th Calories
      %th Average
      %th Max
      %th Average
      %th Max
      %th Average
      %th Max
      %th Gain
      %th Loss
      %th Max
      %th Min
      %th Average
      %th Max
      %th Min
  %tbody
    %tr
      %td= activity_presenter.total_distance
      %td= activity_presenter.elapsed_time
      %td= activity_presenter.total_calories
      %td= activity_presenter.average_speed
      %td= activity_presenter.max_speed
      %td= activity_presenter.average_pace
      %td= activity_presenter.max_pace
      %td= activity_presenter.average_cadence
      %td= activity_presenter.maximum_cadence
      %td= activity_presenter.total_elevation_gain
      %td= activity_presenter.total_elevation_loss
      %td= activity_presenter.max_elevation
      %td= activity_presenter.min_elevation
      %td= activity_presenter.average_heart_rate
      %td= activity_presenter.max_heart_rate
      %td= activity_presenter.min_heart_rate
