.tab-content
  #map-tab.tab-pane.active
    #map-container.map-container
      #map.map
  #summary-profiles-tab.tab-pane
    .col-lg-12
      %br
      = area_chart heart_rate_path, 'library' => { 'yAxis' => { 'title' => { 'text' => 'Heart Rate (bpm)' } }, 'title' => { 'text' => 'Heart Rate' }, 'colors' => ['#990000']}
      %br
      = area_chart elevation_path, 'library' => { 'yAxis' => { 'title' => { 'text' => 'Elevation (ft)' } }, 'title' => { 'text' => 'Elevation' }, 'colors' => ['#228400']}
      %br
      = area_chart speed_path, 'library' => { 'yAxis' => { 'title' => { 'text' => 'Speed (mph)' } }, 'title' => { 'text' => 'Speed' }, 'colors' => ['#0077e6']}
  #summary-intensity-tab.tab-pane
    .col-lg-12
      %br
      = column_chart heart_rate_intensity_path, 'library' => { 'yAxis' => { 'title' => { 'text' => 'Percent of Time' }, 'labels' => { 'format' => '{value} %' } }, 'title' => { 'text' => 'Percent of Time Spent at Heart Rates' }, 'colors' => ['#990000']}

:javascript
  $(document).ready(function() {
    gmaps_draw_route(#{@activity.geo_points.lat_lng.to_json});

    $(document).on("click", "#map-nav-tab", function() {
      google.maps.event.trigger(map, "resize");
    });

    $(document).on("click", "#summary-profiles-nav-tab", function() {
      var chartIds = ["#chart-1", "#chart-2", "#chart-3"];

      chartIds.forEach(function(id) {
        var height = $(id).height();
        var width = $(id).width();
        $(id).highcharts().setSize(width, height, doAnimation = false);
      });
    });

    $(document).on("click", "#summary-intensity-nav-tab", function() {
      var height = $("#chart-4").height();
      var width = $("#chart-4").width();
      $("#chart-4").highcharts().setSize(width, height, doAnimation = false);
    });
  });
