- provide(:title, 'Edit activity')
%h1 Edit Activity
.span6.offset3
  = form_for @activity, html: { multipart: true, class: 'form-horizontal' } do |f|
    = render 'shared/activity_error_messages'
    .form-group
      = f.label 'Type', class: 'col-sm-2 control-label'
      .col-sm-10
        = f.select(:type, @types.map { |t| [t.humanize, t.camelcase]}, {}, class: 'form-control')
      = f.label 'Geo Route File', class: 'col-sm-2 control-label'
      .col-sm-10
        = f.file_field :geo_route, class: 'form-control'
      .col-sm-offset-2.col-sm-10
        = link_to 'Cancel', activities_path, class: 'btn btn-mini btn-primary'
        = f.submit 'Save', class: "btn btn-primary", id: "submit-button"
        = link_to 'Delete', @activity, method: :delete, data: { confirm: "Are you sure you want to delete this activity?" }, class: 'btn btn-mini btn-danger'
