- provide(:title, 'Activities')
.page-header
  %h1 Activities
.span6.offset3
  = link_to new_activity_path, class: 'btn btn-mini btn-primary' do
    %i.glyphicon.glyphicon-plus
    New Activity
%table.table.table-striped
  %thead
    %tr
      %th Type
      %th Started At
      %th Ended At
      %th Total Time
      %th Total Distance
      %th Elevation Gain
      %th Elevation Loss
      %th
  %tbody
    - @activities.each do |activity|
      %tr
        %td= link_to activity.type, activity_path(activity)
        %td= activity.started_at.localtime.to_s(:long)
        %td= activity.ended_at.localtime.to_s(:long)
        %td= activity.elapsed_time
        %td= "#{number_with_precision(activity.get_total_distance, precision: 2)} miles"
        %td= "#{number_with_precision(activity.total_elevation_gain, precision: 2)} ft"
        %td= "#{number_with_precision(activity.total_elevation_loss, precision: 2)} ft"
        %td
          = link_to 'Edit', edit_activity_path(activity), class: 'btn btn-mini btn-default'
          = link_to 'Delete', activity, method: :delete, data: { confirm: "Are you sure you want to delete this #{activity.type}?" }, class: 'btn btn-mini btn-danger'
