= javascript_include_tag "//www.google.com/jsapi", "chartkick"

- provide(:title, 'Activities')

.page-header
  %h1 Activities

- if @activities.any?
  .span6.offset3
    = line_chart activities_mileage_url, library: { title: 'Lifetime Mileage by Month', vAxis: { title: 'Miles', titleTextStyle: { fontName: 'Helvetica' }}, titleTextStyle: { fontName: 'Helvetica' }}

  .page-header
    - if @activities_in_last_year.any?
      %h2 Last Year
      = render :partial => 'period_of', locals: { activities: @activities_in_last_year }

    - if @activities_in_last_month.any?
      %h2 Last Month
      = render :partial => 'period_of', locals: { activities: @activities_in_last_month }

    - if @activities_in_last_week.any?
      %h2 Last Week
      = render :partial => 'period_of', locals: { activities: @activities_in_last_week }

  .span6.offset3
    = will_paginate @activities, renderer: BootstrapPagination::Rails

  = render :partial => 'table', locals: { activities: @activities }
