%script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

= javascript_include_tag "highcharts", "chartkick"

- provide(:title, "#{@activity.started_at.localtime.to_s(:long)}")

- activity_presenter = ActivityPresenter.new(@activity, @application_settings.imperial)

%h1= "#{@activity.started_at.localtime.to_s(:long)}"
%h2= "#{activity_presenter.total_distance} around #{activity_presenter.where}"

= render partial: 'show_summary_table', locals: { activity: @activity, activity_presenter: activity_presenter }

.row
  .col-lg-4
    = render partial: 'show_laps_table', locals: { activity: @activity }
  .col-lg-8
    = render partial: 'show_tabs_nav'
    = render partial: 'show_tabs_content', locals: { activity: @activity, activity_presenter: activity_presenter }
