%script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
%script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}

= javascript_include_tag "highcharts", "chartkick"

- provide(:title, "#{@activity.started_at.localtime.to_s(:long)}")

%h1= "#{@activity.started_at.localtime.to_s(:long)}"
%h2= "#{number_with_precision(@activity_presenter.total_distance, precision: 2)} miles around #{@activity_presenter.where}"

= render partial: 'show_summary_table', locals: { activity: @activity, activity_presenter: @activity_presenter }

.row
  .col-lg-4
    %h2 Laps
    %table.table.table-striped
      %thead
        %tr
          %th
          %th Time
          %th Distance
          %th Pace
      %tbody#laps
        = render 'lap', locals: { laps: @laps }
  .col-lg-8
    = render partial: 'show_tabs_nav'
    = render partial: 'show_tabs_content', locals: { activity: @activity, activity_presenter: @activity_presenter }
